.App {
  font-family: Arial;
  padding: 10px;

  background-color: lightcyan;
}

input[type="text"],
input[type="button"],
input[type="date"]
 {
  padding: 12px 10px;

  margin: 10px 0;
  display: inline-block;
  border-color: transparent;
  border-radius: 8px;
}

.image {
  float: right;
}


input[type="button"] {
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  padding-left: 10px;
  font-size: 14px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 0;
  transition-duration: 0.4s;
}



.headings {
  text-decoration: bold;
}


