.App {
  font-family: sans-serif;
  padding: 10px;
}

input[type="text"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
.image {
  text-align: right;
  display: initial;
}

button {
  background-color: ; /* Green */
  border: none;
  color: black;
  padding: 10px;
  text-align: top;
  text-decoration: none;
  display: flexbox;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 130px;
  transition-duration: 0.4s;
}

button:hover {
  color: white; /* Text color */

  background-color: lightblue; /* Remove background color */
}

button:click {
  color: white;
  background-color: lightblue;
}
