.App {
  font-family: sans-serif;
  padding: 10px;
}

input[type="text"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
.image {
  float: right;
}

button {
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;

  font-size: 14px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  width: 130px;
  height: 60px;
  transition-duration: 0.4s;
  display: inline-flex;
  justify-content: space-between;
}

button:hover {
  color: white; /* Text color */

  background-color: lightblue; /* Remove background color */
}

button:click {
  color: white;
  background-color: lightblue;
}
button:active {
  background-color: darkblue;
  color: white;
}
.headings {
  background-color: lightblue;
}
.Names {
  display: flex;
  justify-content: space-between;
}
.Dates {
  display: flex;
  justify-content: space-between;
}
